@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.home-body{
    display: flex;
}
.home-button {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.home-title{
    font-family: "Indie Flower", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30%;
}
