.filter-input{
    height: 2rem;
    font-size: 1.5rem;
    width: 20rem;
}
.filter-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding-left: 12rem;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    .filter-container {
        width: 100%;
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .filter-input {
        width: 100%;
    }
}